*{
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(210, 64%, 91%) ;
    min-height: 100vh;
}
section{
    width: 260px;
    min-height: 420px;
    background-color: white;
    border-radius: 4%;
}
.QR-code>img{
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 7px;
    height: 250px;
    width: 250px;
}
.QR-code p{
    text-align: center;
    font-weight: 300;
    font-family: 'Lexend Deca', sans-serif;
}
.QR-code h3{
    font-weight: 1000;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

